#####################################################################
# 	Macros
#####################################################################

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    Z_TILT_ADJUST
    G28
    G0 X150 Y150 Z30 F3600
     
[gcode_macro PRINT_START]
gcode:
    {% set bed_temp = params.BED|default(60)|float %}
	{% set nozzle_temp = params.EXTRUDER|default(220)|float %}
    M117
    G28                              # Home all
    G90                              # Use absolute coordinates
    G0 Z2                            # Position beacon at 2mm for heat soak

    {% if not printer.motors_sync.applied %}
    SYNC_MOTORS
    G28 X
    G28 Y
    {% endif %}
    
    BED_MESH_CLEAR                   # Clear bed mesh
    M140 S{bed_temp}                 # Start bed heater
    M109 S150                        # Wait for extuder to reach 150°C (intermediate step)
    M190 S{bed_temp}                 # Wait for bed to reach temperature
    G4 P60000                        # Let temps settle for 1 min

    # BRUSH_NOZZLE                   # Wipe nozzle
    G28 Z METHOD=CONTACT CALIBRATE=1 # Calibrate z offset and beacon model hot
    Z_TILT_ADJUST                    
    BED_MESH_CALIBRATE ADAPTIVE=1    # Bed mesh in scan mode
   
    # BRUSH_NOZZLE                   # Wipe nozzle
    G28 Z METHOD=CONTACT CALIBRATE=0 # Calibrate z offset only after tilt/mesh
    
    M104 S{nozzle_temp}              # Set extruder to print temp
    M109 S{nozzle_temp}              # Wait for extruder temp       
    Smart_Park                       # Extruder parking
    SET_GCODE_OFFSET Z=0.0           # Reset the G-Code Z offset (adjust Z offset if needed)
    VORON_PURGE                      # Purge a bit
   

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    M400                           # wait for buffer to clear
    G92 E0                         # zero the extruder
    G1 E-5 F3600                   # retract filament
    G91                            # relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    # move nozzle to remove stringing
    TURN_OFF_HEATERS               # Turn off heaters
    M107                           # turn off fan
    G1 Z2 F3000                    # move nozzle up 2mm
    G90                            # absolute positioning
    BED_MESH_CLEAR                 # Clear bed mesh
    
    # The purpose of the SAVE_GCODE_STATE/RESTORE_GCODE_STATE
    # command pair is to restore the printer's coordinate system
    # and speed settings since the commands above change them.
    # However, to prevent any accidental, unintentional toolhead
    # moves when restoring the state, explicitly set MOVE=0.
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0

[gcode_macro update_git]
gcode:
    {% set message = params.MESSAGE|default() %}
    {% if message %}
        RUN_SHELL_COMMAND CMD=update_git_script_message PARAMS="'{params.MESSAGE}'"
    {% else %}
        RUN_SHELL_COMMAND CMD=update_git_script
    {% endif %}

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

[gcode_shell_command update_git_script_message]
command: bash -c "bash $HOME/klipper-backup/script.sh -c \"$0\""
timeout: 90.0
verbose: True

[gcode_macro Nozzle_Wipe]
gcode:
 G1 X160 Y307 Z6
 G1 X160 Y307 Z2
 G1 X210 Y306 F7000
 G1 Y307 F7000
 G1 X160 Y306 F7000
 G1 X210 Y307 F7000
 G1 Y306 F7000
 G1 X160 Y307 F7000
 G1 X210 Y306 F7000
 G1 Y307 F7000
 G1 X160 Y306 F7000
 G1 X210 Y307 F7000
 G1 Y306 F7000
 G1 X160 Y307 F7000
 G1 X210 Y306 F7000
 G1 Y307 F7000
 G1 X160 Y306 F7000
 G1 X210 Y307 F7000
 G1 X160 Y306 F7000
 G1 Z5

[gcode_macro FILAMENT_RUNOUT]
gcode:
    SET_IDLE_TIMEOUT TIMEOUT=90800 # Set idle_timeout to 3hrs
    #M104 S0 # turn off the hotend
    #SAVE_GCODE_STATE is not required as PAUSE does this automatically
    # See here: https://www.klipper3d.org/G-Codes.html#pause
    PAUSE
    RESPOND TYPE=error MSG='Filament Rounout. Please check Filament'
    G91 # Relative positioning
    G1 E-10 F2100 # Retract 10mm of filament
    G1 Z10 # Move Z up 10mm from current position
    G90 # Absolute positioning
    G1 X410 Y340 F6000 # Park at the coordinates you said you wanted
    M106 S0 # Disable the part cooling fan
    G4 S120
    UPDATE_DELAYED_GCODE ID=runout_wait DURATION=0

[delayed_gcode runout_wait]
gcode:
    # Honestly you probably shouldn't keep the hotend heated for 5 minutes as it's
    # definitely going to leak a bunch of filament during that time, but anyway
    M104 S0 # turn off the hotend

[gcode_macro Z_TILT_ADJUST]
rename_existing: _Z_TILT_ADJUST
gcode:
    # If Z_TILT is not applied, first run a course calibration
    {% if printer.z_tilt.applied == False %}
        _Z_TILT_ADJUST RETRY_TOLERANCE=1.0 HORIZONTAL_MOVE_Z=15 RETRIES=1
    {% endif %}
    # then perform fine Z_TILT down to desired spec
    # this has to be a separate macro call so the results of the above call will be visible!
    _FINE_Z_TILT_ADJUST
	

[gcode_macro _FINE_Z_TILT_ADJUST]
gcode:
    {% if printer.z_tilt.applied == True %}
        # go for full quality at reduced probing height
        _Z_TILT_ADJUST RETRY_TOLERANCE=0.010 HORIZONTAL_MOVE_Z=2 RETRIES=6 
    {% else %}
        # This should never happen, just perform the full calibration using the defaults
        {action_respond_info("Fine Z_TILT called without calling course Z_TILT first!")}
        _Z_TILT_ADJUST  # default behavior, no speedup
    {% endif %}

# Macro prompts that interact with AFC-Klipper_Add_On

[gcode_macro BT_LOAD_LANE]
gcode:
    {% set lanes = printer.AFC.lanes %}

    RESPOND TYPE=command MSG="action:prompt_begin Load Lane"
    RESPOND TYPE=command MSG="action:prompt_text Select a lane to load to toolhead, printer must be homed"
    RESPOND TYPE=command MSG="action:prompt_button_group_start"
    {% for lane in lanes %}
        {% set loop_index = loop.index0 %} # loop.index0 gives the 0-based index
        {% set button_style = "primary" if loop_index % 2 == 0 else "secondary" %}
            RESPOND TYPE=command MSG="action:prompt_button { lane } |CHANGE_TOOL LANE={ lane } |{ button_style }"
    {% endfor %}
    RESPOND TYPE=command MSG="action:prompt_button_group_end"
    RESPOND TYPE=command MSG="action:prompt_footer_button Back|RESPOND TYPE=command MSG="action:prompt_end"|error"
    RESPOND TYPE=command MSG="action:prompt_show"

[gcode_macro BT_EJECT_LANE]
gcode:
    {% set lanes = printer.AFC.lanes %}

    RESPOND TYPE=command MSG="action:prompt_begin Eject Lane"
    RESPOND TYPE=command MSG="action:prompt_text Select a lane to eject"
    RESPOND TYPE=command MSG="action:prompt_button_group_start"
    {% for lane in lanes %}
        {% set loop_index = loop.index0 %} # loop.index0 gives the 0-based index
        {% set button_style = "primary" if loop_index % 2 == 0 else "secondary" %}
            RESPOND TYPE=command MSG="action:prompt_button { lane } |LANE_UNLOAD LANE={ lane } |{ button_style }"
    {% endfor %}
    RESPOND TYPE=command MSG="action:prompt_button_group_end"
    RESPOND TYPE=command MSG="action:prompt_footer_button Back|RESPOND TYPE=command MSG="action:prompt_end"|error"
    RESPOND TYPE=command MSG="action:prompt_show"

[gcode_macro BT_SELECT_LANE_MOVE]
gcode:
    {% set lanes = printer.AFC.lanes %}

    RESPOND TYPE=command MSG="action:prompt_begin Lane Move Select"
    RESPOND TYPE=command MSG="action:prompt_text Select a lane to move"
    RESPOND TYPE=command MSG="action:prompt_button_group_start"
    {% for lane in lanes %}
        {% set loop_index = loop.index0 %} # loop.index0 gives the 0-based index
        {% set button_style = "primary" if loop_index % 2 == 0 else "secondary" %}
            RESPOND TYPE=command MSG="action:prompt_button { lane } |BT_MOVING_LANE LANE={ lane } |{ button_style }"
    {% endfor %}
    RESPOND TYPE=command MSG="action:prompt_button_group_end"

    RESPOND TYPE=command MSG="action:prompt_footer_button Back|RESPOND TYPE=command MSG="action:prompt_end"|error"
    RESPOND TYPE=command MSG="action:prompt_show"

[gcode_macro BT_MOVING_LANE]
gcode:
    {% set lane = params.LANE %}
    {% set distances = [10, 20, 50, 100] %}
    
    RESPOND TYPE=command MSG="action:prompt_begin select distance to move"
    RESPOND TYPE=command MSG="action:prompt_text Select a distance to move for { lane }"
    { action_respond_info(lane) }

    {% for dist in distances %}
        RESPOND TYPE=command MSG="action:prompt_button_group_start"
        
        # Positive move button
        {% set button_style_pos = "primary" if loop.index0 % 2 == 0 else "secondary" %}
        RESPOND TYPE=command MSG="action:prompt_button -{ dist } |LANE_MOVE LANE={ lane } DISTANCE={ -dist } |{ button_style_pos }"
        
        # Negative move button
        {% set button_style_neg = "primary" if loop.index0 % 2 != 0 else "secondary" %}
        RESPOND TYPE=command MSG="action:prompt_button { dist } |LANE_MOVE LANE={ lane } DISTANCE={ dist } |{ button_style_neg }"

        RESPOND TYPE=command MSG="action:prompt_button_group_end"
    {% endfor %}
    
    RESPOND TYPE=command MSG="action:prompt_footer_button Back|BT_SELECT_LANE_MOVE |warning"
    RESPOND TYPE=command MSG="action:prompt_footer_button Exit|RESPOND TYPE=command MSG=\"action:prompt_end\"|error"
    RESPOND TYPE=command MSG="action:prompt_show"

[gcode_macro BT_TEST_LANE]
gcode:
    {% set lanes = printer.AFC.lanes %}

    RESPOND TYPE=command MSG="action:prompt_begin Lane Test"
    RESPOND TYPE=command MSG="action:prompt_text Select a lane to test respoolers"
    RESPOND TYPE=command MSG="action:prompt_button_group_start"
    {% for lane in lanes %}
        {% set loop_index = loop.index0 %} # loop.index0 gives the 0-based index
        {% set button_style = "primary" if loop_index % 2 == 0 else "secondary" %}
            RESPOND TYPE=command MSG="action:prompt_button { lane } |TEST LANE={ lane } |{ button_style }"
    {% endfor %}
    RESPOND TYPE=command MSG="action:prompt_button_group_end"
    RESPOND TYPE=command MSG="action:prompt_footer_button Back|RESPOND TYPE=command MSG="action:prompt_end"|error"
    RESPOND TYPE=command MSG="action:prompt_show"

#[homing_override]
#set_position_z: 0 # Make printer think Z axis is at zero, so we can force a move upwards away from build plate
#axes: z #will only call override if Z is involved in the homing call
#gcode:
#    G90
#    G1 Z10 F3000 ; move up to prevent accidentally scratching build plate    
#    {% if "x" not in (printer.toolhead.homed_axes | lower) %}
#        G28 X
#    {% endif %}
#    {% if "y" not in (printer.toolhead.homed_axes | lower) %}
#        G28 Y        #Will only home XY if they are not currently homed
#    {% endif %}
#    G1 X150 Y150 F6000
#    HOME_NOZZLE_CLEANER
#    G28 Z
#    G1 Z15

[gcode_macro TEST_SPEED]
# Home, get position, throw around toolhead, home again.
# If MCU stepper positions (first line in GET_POSITION) are greater than a full step different (your number of microsteps), then skipping occured.
# We only measure to a full step to accomodate for endstop variance.
# Example: TEST_SPEED SPEED=300 ACCEL=5000 ITERATIONS=10

description: Test for max speed and acceleration parameters for the printer. Procedure: Home -> ReadPositionFromMCU -> MovesToolhead@Vel&Accel -> Home -> ReadPositionfromMCU

gcode:
    # Speed
    {% set speed  = params.SPEED|default(printer.configfile.settings.printer.max_velocity)|int %}
    # Iterations
    {% set iterations = params.ITERATIONS|default(5)|int %}
    # Acceleration
    {% set accel  = params.ACCEL|default(printer.configfile.settings.printer.max_accel)|int %}
    # Minimum Cruise Ratio
    {% set min_cruise_ratio = params.MIN_CRUISE_RATIO|default(0.5)|float %}
    # Bounding inset for large pattern (helps prevent slamming the toolhead into the sides after small skips, and helps to account for machines with imperfectly set dimensions)
    {% set bound = params.BOUND|default(20)|int %}
    # Size for small pattern box
    {% set smallpatternsize = SMALLPATTERNSIZE|default(20)|int %}
    
    # Large pattern
        # Max positions, inset by BOUND
        {% set x_min = printer.toolhead.axis_minimum.x %}
        {% if x_min < 0 %}
            {% set x_min = 0 %}
        {% endif %}
    
        {% set y_min = printer.toolhead.axis_minimum.y %}
        {% if y_min < 0 %}
            {% set y_min = 0 %}
        {% endif %}
    
        {% set x_min = x_min + bound %}
        {% set x_max = printer.toolhead.axis_maximum.x - bound %}
        {% set y_min = y_min + bound %}
        {% set y_max = printer.toolhead.axis_maximum.y - bound %}
    
    # Small pattern at center
        # Find X/Y center point
        {% set x_center = (printer.toolhead.axis_minimum.x|float + printer.toolhead.axis_maximum.x|float ) / 2 %}
        {% set y_center = (printer.toolhead.axis_minimum.y|float + printer.toolhead.axis_maximum.y|float ) / 2 %}
        
        # Set small pattern box around center point
        {% set x_center_min = x_center - (smallpatternsize/2) %}
        {% set x_center_max = x_center + (smallpatternsize/2) %}
        {% set y_center_min = y_center - (smallpatternsize/2) %}
        {% set y_center_max = y_center + (smallpatternsize/2) %}

    # Save current gcode state (absolute/relative, etc)
    SAVE_GCODE_STATE NAME=TEST_SPEED
    
    # Output parameters to g-code terminal
    { action_respond_info("TEST_SPEED: starting %d iterations at speed %d, accel %d" % (iterations, speed, accel)) }
    
    # Home and get position for comparison later:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28
        # QGL if not already QGLd (only if QGL section exists in config)
        {% if printer.configfile.settings.quad_gantry_level %}
            {% if printer.quad_gantry_level.applied == False %}
                QUAD_GANTRY_LEVEL
                G28 Z
            {% endif %}
        {% endif %} 
        # Move 50mm away from max position and home again (to help with hall effect endstop accuracy - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/24)
        G90
        G1 X{printer.toolhead.axis_maximum.x-50} Y{printer.toolhead.axis_maximum.y-50} F{30*60}
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 X Y
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000 
        GET_POSITION

    # Go to starting position
    G0 X{x_min} Y{y_min} Z{bound + 10} F{speed*60}

    # Set new limits
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} MINIMUM_CRUISE_RATIO={min_cruise_ratio}
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} ACCEL_TO_DECEL={accel / 2}
    {% endif %}

    {% for i in range(iterations) %}
        # Large pattern diagonals
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        
        # Large pattern box
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
    
        # Small pattern diagonals
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        
        # Small pattern box
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
    {% endfor %}

    # Restore max speed/accel/accel_to_decel to their configured values
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} MINIMUM_CRUISE_RATIO={printer.configfile.settings.printer.minimum_cruise_ratio} 
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel}
    {% endif %}

    # Re-home and get position again for comparison:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 # This is a full G28 to fix an issue with CoreXZ - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/12
        # Go to XY home positions (in case your homing override leaves it elsewhere)
        G90
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000 
        GET_POSITION

    # Restore previous gcode state (absolute/relative, etc)
    RESTORE_GCODE_STATE NAME=TEST_SPEED
    
[gcode_arcs]
resolution: 1.0