[manual_stepper nozzle_stepper]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
microsteps: 16
rotation_distance: 1130
velocity: 5000 
accel: 50000
endstop_pin: PC15

[tmc2209 manual_stepper nozzle_stepper]
uart_pin: PB9
sense_resistor: 0.110
interpolate: false
run_current: 0.7

[gcode_macro POOP_WIPE_NOZZLE]
gcode:
  POOP_NOZZLE
  BRUSH_NOZZLE

[gcode_macro HOME_NOZZLE_CLEANER]
gcode:
			MANUAL_STEPPER STEPPER=nozzle_stepper MOVE=-1000 STOP_ON_ENDSTOP=1 SPEED=2000
			MANUAL_STEPPER STEPPER=nozzle_stepper SET_POSITION=0

[gcode_macro OPEN_NOZZLE_CLEANER]
gcode:
            HOME
            {% set current_z = printer.toolhead.position.z %}
    {% if current_z < 15 %}
        G90                    ; Absolute positioning
        G1 Z15 F600          ; Raise to 15mm
    {% else %}
    {% endif %}
            G4 P600
            MANUAL_STEPPER STEPPER=nozzle_stepper MOVE=435 SPEED=2000

[gcode_macro CLOSE_NOZZLE_CLEANER]
gcode:
            MANUAL_STEPPER STEPPER=nozzle_stepper MOVE=0 SPEED=2000
           # M84 MANUAL_STEPPER STEPPER=nozzle_stepper

[gcode_macro DISABLE_CLEANER]
gcode:
  MANUAL_STEPPER STEPPER=nozzle_stepper ENABLE=0
  
[gcode_macro HOME]
gcode:
    HOME_NOZZLE_CLEANER
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28
    {% endif %}

[gcode_macro POOP_NOZZLE]
gcode:
    HOME
    {% set current_z = printer.toolhead.position.z %}
    {% if current_z < 15 %}
        G90                    ; Absolute positioning
        G1 Z15 F600          ; Raise to 15mm
    {% else %}
    {% endif %}
    G1 X125 Y290 F6000
    G4 P500
    OPEN_NOZZLE_CLEANER
    G4 P500
    G1 X171 Y290 F6000
    G91                    # Use relative positioning  
    G1 E100 F600           # Extrude 100mm at 600mm/min (10mm/s)  
    G90                    # Return to absolute positioning  
    M106 S255
    G4 P7000
    M107
    G1 X260 Y290 F6000
    CLOSE_NOZZLE_CLEANER
    
    
    
    
[gcode_macro BRUSH_NOZZLE]
gcode:
    	
		HOME
    {% set current_z = printer.toolhead.position.z %}
    {% if current_z < 15 %}
        G90                    ; Absolute positioning
        G1 Z15 F600          ; Raise to 15mm
    {% else %}
    {% endif %}
    G1 X260 Y290 F6000
    G4 P500
    OPEN_NOZZLE_CLEANER
    G4 P500
    G1 X170 Y290 F8000
    G1 X230 Y290 F8000
    G1 X170 Y290 F8000
    G1 X230 Y290 F8000
    G1 X170 Y290 F8000
    G1 X190 Y300 F8000
    G1 X190 Y280 F8000
    G1 X200 Y280 F8000
    G1 X200 Y300 F8000
    G1 X210 Y300 F8000
    G1 X210 Y290 F8000
    G1 X230 Y290 F8000
    G1 X170 Y290 F8000
    G1 X230 Y290 F8000
    G1 X170 Y290 F8000
    G1 X260 Y290 F8000
    G4 P500
    CLOSE_NOZZLE_CLEANER